*{
  font-family: sans-serif;
}

.bottom-head{
  left: 48%;
  background-color: transparent;
  position: relative;
  top: 42%;
}

.logo{
  float: left;
  width: 100px;
  height: auto;
  margin: 15px;
  filter: grayscale(100%);
}

.navbar{
  display: inline;
  position: absolute;
  margin: 15px;
  right: 0;
  color: white;
}

.navbar a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  margin: 15px;
}

a:hover {
  color: pink;
}

button{
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: 15px;
  background: pink;
  border: none;
  border-radius: 10px;
}


.header{
  background-image: url("../img/header.jpg");
  background-size: cover;
  background-position: center;
  height: 600px;
  width: 100%;
  position: relative;

}

.header::after {
    content: "";
    border: 25px solid rgba(255, 0, 0, 0);
    border-top-color: #484050;
    position: absolute;
    top: 100%;
    left: 48%;
}

.head {
  color: white;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  position: relative;
  top: 200px;
}

.title {
  box-sizing: border-box;
}

.title h2{
  color: rgba(255, 255, 255, 0.79);
  font-family: 'Open Sans', sans-serif;
  font-size: 58px;
  margin-bottom: -17px;
}

.title h3{
  color: rgba(255, 255, 255, 0.79);
  font-family: 'Open Sans', sans-serif;
  margin-top: -17px;
  margin-bottom: 31px;
  font-size: 65px;
}

.title p{
  font-style: italic;
  font-size: 21px;
}

hr{
  width: 600px;
  border: 1px solid hsla(0, 0%, 65%, 0.75);
}

.info{
  text-align: center;
}

.info-1 {
  display: inline-block;
  padding: 50px;
  text-align: center;
  width: 100%;
}

.section{
  display: inline-block;
}

.icon{
  width: 80px;
  height: auto;
  display: inline-block;
  margin: auto;
  box-sizing: border-box;
  margin-top: 20px;
}

.circle{
  border: 2px solid black;
  border-radius: 100px;
  width: 130px;
  height: 130px;
}

.circle h3{
  margin-top: 50px;
  word-wrap: break-word;
}

.text {
  display: block;
  width: 300px;
  margin-left: 58px;
  margin-right: 150px;
}

.icon1 {
  display: inline-block;
  margin-left: 58px;
  margin-right: 150px;
}
